body {
	color:white;
	background-color:black;
	margin: 50px;
	font-family: sans-serif;
	font-size: 12px;
}

p{
  text-align: center;
}

img{
  width: 10%;
  height: 10%;
  margin: 1% 45%;
  min-width: 100px;
  min-height: 100px;
}

input{
  margin: 1% 20%;
  min-width: 200px;
  width: 60%;
  text-align: center;
}

#Content{
  top:auto;
  min-width: 250px;
  bottom: calc(100% -50px);
  background-color: rgba(128, 128, 128, 0.5);
  border:1px solid rgb(255, 255, 255);
  border-radius: 15px;
}

#UserSubmision{
  margin-left: 1%;
}
